$body-bg: #FF6448;
$body-text-color: #FFFFFF;
$nav-bg: #222430;
$nav-text-color: #FFFFFF;
$nav-height: 80px;
$nav-width: 80px;
$logo-width: 150px;
$logo-margin: 30px;

$nav-margin: 20px;

$nav-second-active: #FFFFFF;
$nav-second-default: #000000;