body {
  font-family: 'Open Sans', sans-serif;
  background-color: $body-bg;
  padding: 0;
  margin: 0;
  font-size: 16px;
  #top {
    display: none;
  }

  #main {
    &.open {
      nav.primary {
        top: 0;
      }
    }
  }

  .content-wrapper {
    color: $body-text-color;
    .inner-content-wrapper {
      padding: 1em;
      .logo-wrapper {
        text-align: center;
        color: $body-text-color;
        margin: 2em 0;
        > div {
          margin-top: 0.5em;
          font-size: 2em;
        }
        img {
          width: $logo-width;
        }
      }
      .content {
        color: $body-text-color;
        .toggle-menu-wrapper {
          position: relative;
          z-index: 99999;
          .toggle-menu {
            cursor: pointer;
            text-decoration: none;
            color: $nav-text-color;
            font-size: 2em;
          }
        }

        .page {
          section {
            font-size: 1.2em;
          }
          .opening {
            h2 {
              font-size: 2em;
              margin-top: 0;
              transition: font-size 3s ease;
              text-align: center;
              margin: 0;
              margin-bottom: 0.5em;
            }

            &.done {
              h2 {
                display: inline;
                font-size: 3em;
              }
            }
          }

          &:first-child {
            display: block;
          }
        }
      }
    }

    nav.primary {
      background-color: $nav-bg;
      color: $nav-text-color;
      width: 100%;
      position: absolute;
      top: -2000px;
      transition: top 500ms ease-in-out;
      padding-top: 65px;

      .avatar {
        border-radius: 50%;
        width: 70px;
        margin-left: 5px;
      }

      ul {
        background-color: $nav-bg;
        margin: 0;
        padding: 0 0;
        width: 100%;
        li {
          list-style-type: none;
          cursor: pointer;
          text-align: center;
          margin-bottom: 1.2em;
          a {
            display: block;
            color: $nav-text-color;
            text-decoration: none;
            i {
              font-size: 4em;
            }
            > span {
              font-size: 1em;
              display: block;
            }
            &:focus, &:active, &:visited {
              color: $nav-text-color;
            }
          }
        }
      }
      img {
        width: 80px;
      }
    }

    nav.secondary {
      position: fixed;
      right: 10px;
      top: 45%;
      ul {
        li {
          list-style-type: none;
          margin-bottom: 1em;
          a {
            display: block;
            border: 1px solid $nav-second-default;
            background-color: $nav-second-default;
            border-radius: 100%;
            width: 12px;
            height: 12px;
            text-decoration: none;
            &.active {
              background-color: $nav-second-active;
              border-color: $nav-second-active;
            }
          }
        }
      }
    }
  }
}
